# Ignorar diretórios de cache do Python
__pycache__/
*.py[cod]

# Ignorar arquivos de compilação de extensões
*.pyo
*.pyd
*.so
*.dylib

# Ignorar diretório de ambientes virtuais
venv/

# Ignorar arquivos de configuração de ambiente
.env

# Ignorar diretórios de cache de ferramentas
.mypy_cache/
.pytest_cache/
.coverage/

# Ignorar arquivos de informações do setuptools e pip
*.egg-info/

# Ignorar arquivos de lock do Poetry
poetry.lock

# Ignorar diretórios de distribuição
dist/
build/